/* CSS HEADER */

.booki-img {
    width: 16%;
    height:auto;
}
.div-logo{
    width: 50%;
}
.navbar-booki{
    width: 80%;
}
navbar ul {
    list-style-type:none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 50%;
}
.aheader {
    text-decoration: none;
    color:grey ;
}
navbar ul li a:visited {
    color:none;
}
navbar ul li a:hover{
    color: #0065FC;
    border-top:2px solid #0065FC;
    padding-top:53px;
}
